<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel='shortcut icon' type='image/x-icon' href='../static/YTDL7.png' />
    <title>Youtube downloader</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/YTDL7.png" alt="YTDL logo" class="logo" />
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/downloading" method="POST">
        <div class="form-group">
          <h3>Input links (and text) below:</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Pasta all the text you want, but only youtube/youtu.be videos and links containen 'jpg' in them will be parsed and downloaded. Time interval can be in the format: 00:00:00-99:99:99. The dash has to be there, but other than that the time can range from four 0:00 to eight characters."
          ></textarea>
        </div>
        <input type="submit" value="Process text" class="btn" />
      </form>
    </div>
    <div class="container">
      <body>
        Created by Christian Hviid Friis. For inquiries/problems <a href="mailto:friis93@me.com?subject=yt-interval problems">email me!</a>
      </body>
    </div>
  </body>
</html>