<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel='shortcut icon' type='image/x-icon' href='../static/YTDL7.png' />
    <title>Youtube downloader</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/YTDL7.png" alt="YTDL logo" class="logo" />
      <h3>Your videos are being downloaded at the moment</h3>
      <h4>Keep refreshing every 20 seconds and the dl button when "finished":</h4>
      <body>
        {{job_status}}
      </body>{
      <form action="/waiting/done">
        <input type="submit" value="Press here to download the media. Might not be ready, just wait then." class="btn">
      </form>
      <form action="/">
        <input type="submit" value="Back to the front page" class="btn">
      </form>
    </div>
    <div class="container">
      <body>
        Created by Christian Hviid Friis. For inquiries/problems <a href="mailto:friis93@me.com?subject=yt-interval problems">email me!</a>
      </body>
    </div>
  </body>
</html>